*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFDD0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* slider */
.slider{
        width: 698px;    height: 505px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  0 8px 8px 0 rgba(255, 114, 0, 0.2), 0 6px 20px 0 rgba(255, 114, 0, 0.19);
    margin-right: 270px;
    margin-bottom: 25px;
    margin-top: 45px;
    margin-left: 40px;
    align-items: center;
    /* position:absolute; */
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;  
  }
  
  .slide{
    width: 20%;
    transition: 0.5s;
  }
  
  .slide img{
   width: 698px;        height: 507px;  }


  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    /* margin-left: 100px; */
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #000000;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    /* justify-content: center; */
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #dc7140;
  }
  
  #radio1:checked ~ .first{
    flex-direction: column;
    margin-left: 0px;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  #radio5:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #dc7140;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #dc7140;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #dc7140;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #dc7140;
  }
  #radio5:checked ~ .navigation-auto .auto-btn4{
    background: #dc7140;
  }
  .events{
    align-items: center;
    float: right;
    margin-left:70px;
    margin-right: 100px;
    margin-top: -570px;
}
.events-layer{
    margin-left: 769px;
    margin-top: -313px;}
.events h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 380px;
    color: #ffffff;
    font-family: Arial;
    font-size: 30px;
    
}
.events span{
    color: #ff7200;
} 
.container { height: 119px;
    width: 883px;
    margin-right: -49px; background-color: #E9FFD0; display: flex; justify-content:right; /* Add more styles as needed */ }
      .events-layer h4{ font-size: 1.6rem ; 
        margin-left: 20px;
        color: #ff7200; margin-bottom: 0px; } 
        .events-layer p{ font-size: 23px;
            margin-left: 20px;
            color: #ff7200; 
            margin-right: 20px;
}
@media screen and (max-width: 1200px) {
    /* Normal Screen */
.slider {
    width: 842px;
    height: 580px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 8px 0 rgba(255, 114, 0, 0.2), 0 6px 20px 0 rgba(255, 114, 0, 0.19);
    margin-right: 253px;
    margin-bottom: 25px;
    margin-top: 45px;
    margin-left: 108px;
    align-items: center;
    /* position: absolute; */
}
.slide img {
    width: 843px;
    height: 580px;
}
.events {
    align-items: center;
    float: right;
    margin-left: 35px;
    margin-right: 254px;
    margin-top: 6px;
}
.container {
    height: 119px;
    width: 883px;
    margin-right: -49px;
    background-color: #E9FFD0;
    display: flex;
    justify-content: right;
}
.events-layer {
    margin-left: 72px;
    margin-top: -80px;
}.events-layer .button {
    margin-right: -144px;
    margin-left: 170px;
    background-color: #C4A484;
    border-radius: 50%;
}
.events-layer p {
    font-size: 26px;
    margin-left: 20px;
    color: #ff7200;
    margin-right: 20px;
}
@media screen and (max-width: 451px){
    /* mobile */
    .slider {
    width: 781px;
    height: 567px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 8px 0 rgba(255, 114, 0, 0.2), 0 6px 20px 0 rgba(255, 114, 0, 0.19);
    margin-right: 270px;
    margin-bottom: 25px;
    margin-top: 45px;
    margin-left: 21px;    align-items: center;
    /* position: absolute; */
}
   .events {
    align-items: center;
    float: right;
    margin-left: 20px;
    margin-right: -461px;
    margin-top: -26px;
}
.events-layer {
    margin-left: -170px;
    margin-top: -14px;
}.events-layer h4 {
    font-size: 2.6rem;}
    .events-layer p {
        font-size: 49px;
    margin-left: 239px;
    color: #ff7200;
    margin-right: -493px;}
.container {
    height: 155px;
    width: 888px;
  margin-right: -5px;    background-color: #E9FFD0;
    display: flex;
    justify-content: right;
}
.button {
    height: 106px;
    width: 182px;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;}
.events h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 350px;
    color: #ffffff;
    font-family: Arial;
    font-size: 33px;
}
}